body {
    background-color: lightblue;
    width: 960px;
}
h1,h2,h3 {
    color: navy;
    margin-left: 20px;
}
h1 {
    padding-top: 10px;
}
div {
    margin-left: 25px;
}
#page {
    margin-left:20%;
    margin-right:20%;
    background-color: white;
    width: 960px;
}
#intro {
    float: left;
    width: 50%;
}
#table {
    float: right;
    width: 44%;
    background-color: aliceblue;
}
thead {
    color: navy;
}
td {
    width: 50%;
}
tr {
    height: 25px;
}
.tablebold {
    font-weight: bold;
}
#information {
    margin-left: 25px;
    width: 50%;
    float: left;
}
#information p {
    margin-left: 40px;
}
#confidentiality {
    margin-left: 25px;
    margin-top: 40px;
    width: 50%;
}
#confidentiality p {
    margin-left: 40px;
}
#prospectivebuyers {
    margin-left: 25px;
    margin-top: 40px;
    width: 50%;
}
#prospectivebuyers p {
    margin-left: 40px;
}
#contact ul {
   margin-left: 25px;
   list-style-type: none;
}